.site-header {
        background: rgb(90, 119, 221);
        color:  rgb(49, 250, 125);
        padding:20px 5%;
        box-shadow:  0 1px 3px ;
      }

.site-header h1{
  margin: 0;
  font-size: 20px;
}

.main-nav{

}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav ul li{
   display: inline;
}

.main-nav ul li a{
   text-decoration: none;
   color: rgb(49, 250, 125);
}

.into-text {

   color: rgb(4, 149, 168);
       font-size: 19px;
       font-family: fantasy;

}
